@charset "UTF-8";
/* CSS Document */

body{
	margin: 0;
}

.fondo{
	background-color: aqua;
}

.menu{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
button{
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border: solid 1px black;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.container {
  position: absolute;
  display: block;
  max-width: 700px;
  max-height: 500px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  left: 0;
  right: 0;
}

.granSlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numerotexto {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
  opacity: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.caption-container:hover{
	opacity: 1;
	transition: 0.5s ease;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
	margin-bottom: -4px;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}